[submodule "public"]
	path = public
	url = https://github.com/findmytrueself/hun.github.io.git
	branch = main
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git